html, body {
	background: #fff;
	font-family: 'Lora', serif;
	font-size: 18px;
}

a, a:visited, a:active {
	color: #AA0000;
	text-decoration: none;
}

a:hover {
	color: #AA0000;
	text-decoration: underline;
}

/****************** site header **********************************************/

#site-header {
	font-family: 'Julius Sans One', sans-serif;
	text-align: center;
	padding: 2rem 0 2.5rem 0;
}

#site-header .name {
	font-size: 5rem;
	font-weight: bold;
}

#site-header .slogan {
	font-size: 2rem;
}

@media (max-width: 500px) /* Mobile */ {
	#site-header {
		padding: 1rem 0.3rem;
	}
	#site-header .name {
		font-size: 1rem;
	}
	#site-header .slogan {
		font-size: 1.0rem;
	}
}

/****************** site navigation ******************************************/

#site-navigation {
	border-color: #ccc;
	border-style: solid;
	border-width: 1px 0 1px 0;
}

#site-navigation ul {
	margin: 0 auto;
	width: 400px;
}

#site-navigation ul,
#site-navigation li {
	list-style: none;
	margin: 0;
	padding: 0;
}

#site-navigation li {
	float: left;
}

#site-navigation li a {
	color: #000;
	display: block;
	padding: 1rem 3rem;
	text-transform: uppercase;
}

#site-navigation .right {
	float: right;
}

#site-navigation .social {
	padding: 0.0rem 0 0 0;
}

#site-navigation .social img {
	margin: 0.7rem 0 0 0.7rem;
}

@media (max-width: 500px) /* Mobile */ {
	#site-navigation li {
		float: none;
		text-align: center;
	}
	#site-navigation .right {
		float: none;
		text-align: center;
	}
	#site-navigation .social img {
		margin: 0;
		margin: 0 1rem 1rem 1rem;
	}
}

/****************** site content *********************************************/

#site-content {
	margin: 2rem auto 0 auto;
}

#site-content h1,
#site-content h2,
#site-content h3,
#site-content h4 {
	color: #555;
	font-weight: bold;
	margin: 0;
	padding: 0;
}
#site-content h1 {
	font-size: 2rem;
}
#site-content h2 {
	font-size: 1.8rem;
}
#site-content h3 {
	font-size: 1.6rem;
}
#site-content h4 {
	font-size: 1.4rem;
}

/****************** site-footer **********************************************/

#site-footer {
	border-color: #ccc;
	border-style: solid;
	border-width: 1px 0 0 0;
	margin: 2rem 0 0 0;
	padding: 2rem;
}

#site-footer ul.links,
#site-footer li.links {
	list-style: none;
	margin: 0;
	padding: 0;
}

/****************** defaults *************************************************/

pre {
	/*background: #f7f7f7;
	border: 0 solid #ccc;
	line-height: 1.2rem;
	padding: 0.5rem;*/
	line-height: 1.2rem;
	margin: 0;
	padding: 0;
}

/****************** posts ****************************************************/

.post {
	margin: 0 0 2rem 0;
}

.post .post-title {
	font-size: 2.5rem;
}

.post .post-content {
	line-height: 1.8rem;
}

.post .post-info {
	padding: 0.3rem 0;
	text-align: right;
}

.post .post-info,
.post .post-info a {
	color: #999;
}

/****************** work *****************************************************/

.work-row {
	margin-bottom: 2rem;
}

.work .work-title {
	font-size: 2.0rem;
}

.work .work-labels {
	color: #999;
	text-align: right;
}