{{ partial "header.html" . }}

<div class="two-column-content">
    
    <div class="col1">
        {{ $list := .Data.Pages.ByWeight.Reverse }}
        {{ range $i, $e := $list }}
        <div class="work">
            <div class="work-title">{{ .Title }}</div>
            <div class="work-homepage"><a href="{{ .Params.homepage }}">{{ .Params.homepage }}</a></div>
            <div class="work-text">{{ .Summary }}</div>
            <div class="work-labels">
                {{ range .Params.labels }}
                    {{ . }} /
                {{ end }}
                Since {{ .Date.Format "2006" }}
            </div>
        </div>
        {{ end }}
    </div>

    <div class="col2">
        {{ partial "sidebar.html" . }}
    </div>
    
</div>

{{ partial "footer.html" . }}