<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="autor" content="Manuel Freiholz">
	<meta name="keywords" content="programming c++ go golang php projects books">
	<title>Manuel Freiholz (mfreiholz) Software Development</title>

	{{ if .RSSlink }}
	<link href="{{ .RSSlink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
	<link href="{{ .RSSlink }}" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}" />
	{{ end }}
</head>

<body>

	<div class="container">

		<div class="page-header">
			<!-- TODO add logo here -->
			<h1><a href="/">mfreiholz.de</a> <small>Software Development</small></h1>
		</div>

	</div>