{{ define "main" }}

<div id="home" class="two-columns">

	<div class="c0">

		<div class="profile-frame">
			<div class="row">
				<div class="name">Manuel Freiholz</div>
				<div class="title">Freelancer</div>
			</div>
			<div class="row">
				<img src="profile.jpg" width="100%" border="0" />
			</div>
			<div class="row">
				<a href="https://www.linkedin.com/in/manuel-freiholz/" target="_blank"><img src="linkedin.png" height="34" title="LinkedIn" /></a>
				<a href="https://github.com/mfreiholz" target="_blank"><img src="github.svg" height="34" title="GitHub" /></a>
				<a href="https://www.instagram.com/mfreiholz/" target="_blank"><img src="instagram.svg" height="34" title="Instagram" /></a>
			</div>
			<div class="row">
				<button id="hire-me-btn">Hire Me!</button>
			</div>
		</div>

		<address class="contact-info">
			<dl>
				<dt><img src="email.svg" height="32" /></dt>
				<dd class="email">PLACEHOLDER</dd>
			</dl>
			<dl>
				<dt><img src="phone.svg" height="32" /></dt>
				<dd class="phone">PLACEHOLDER</dd>
			</dl>
		</address>

	</div>

	<div class="c1">

		<section class="introduce">
			<h1>
				Introduce
			</h1>
			<p>
				<b>Hi!</b> I'm Manuel, Software Developer from <b>Augsburg in Germany.</b>
			</p>
			<p>
				I develop backend-, web- and desktop-software based on my loved principle:
			</p>
			<p class="slogan">
				Keep it simple.
			</p>
		</section>

		<section class="resume">
			<h1>Resume</h1>
			<h2>Experience</h2>
			<ul class="content">
				<li>
					<div class="date">December 2021 - Present</div>
					<div class="content">
						Software Developer<br />
						Freelancer, Self-employed
					</div>
				</li>
				<li>
					<div class="date">August 2021 - November 2021</div>
					<div class="content">
						Software Developer<br />
						ATC-Sim GmbH - Kaufbeuren, Germany
					</div>
				</li>
				<li>
					<div class="date">October 2016 - July 2021</div>
					<div class="content">
						Software Developer<br />
						H3 Mission System GmbH (Grob Aircraft) - Tussenhausen-Mattsies, Germany
					</div>
				</li>
				<li>
					<div class="date">August 2008 - September 2016</div>
					<div class="content">
						Software Developer<br />
						CADENAS GmbH - Augsburg, Germany
					</div>
				</li>
			</ul>

			<h2>Education</h2>
			<ul class="content">
				<li>
					<div class="date">September 2005 - July 2008</div>
					<div class="content">
						IT-Specialist / Software Developer<br />
						Successfull degree of professional-school, CADENAS GmbH, Augsburg, Germany
					</div>
				</li>
				<li>
					<div class="date">September 2002 - July 2005</div>
					<div class="content">
						Successfull degree of secondary-school (business-orientated path)
					</div>
				</li>
			</ul>
		</section>

		<section class="services">
			<h1>Specializations</h1>
			<h2>Services</h2>
			<ul class="content">
				<li>
					<div class="title"><span>Special</span> Mission Aircraft</div>
					<p>Over years I gained experience by working on <b>airborne platforms</b> and <b>mission-systems</b> for multiple projects.</p>
					<ul>
						<li>Sensor integration (EO/IR Camera, Radar, ..)</li>
						<li>Implementation of <b>NATO STANAGs</b> (e.g. 4607, 4609, ..)</li>
						<li>Data processing of Avionic-Systems (e.g. ARINC)</li>
						<li>Custom <b>Moving-Map-Interface (MMI)</b> development</li>
					</ul>
				</li>
				<li>
					<div class="title"><span>Full</span> Stack</div>
					<p>
						Regardless of <b>web-based</b> on <b>native desktop application</b>.
						I develop everything from <b>server-side</b> with databases to <b>client-side</b> with multiple user-interface technologies.
					</p>
					<ul>
						<li>Reduces costs</li>
						<li>Mastering all techniques involved in a project</li>
						<li>Understanding of all aspects</li>
						<li>Support the team with help</li>
					</ul>
				</li>
				<li>
					<div class="title"><span>Dev</span>Ops</div>
					<p>Support with setup and usage of a general infrastructure for software-development.</p>
					<ul>
						<li>Source control managment (Git, Subversion)</li>
						<li>CI / CD Automation (GitLab, Jenkins, ..)</li>
						<li>Dependency management (Conan, Artifactory, ..)</li>
					</ul>
				</li>
				<li>
					<div class="title"><span>Personal</span> Coaching</div>
					<ul>
						<li>Learning the basics of programming</li>
						<li>Beginner friendly learning of languages and new technologies</li>
						<li>Advise and support on your commercial or small private projects</li>
					</ul>
				</li>
			</ul>
		</section>

		<section class="skills">
			<h1>Most Used Skills</h1>
			<h2>Programming Languages</h2>
			<ul class="tags content">
				<li>C/C++</li>
				<li>Python</li>
				<li>Java</li>
				<li>Go</li>
				<li>PHP</li>
				<li>Typescript+Javascript</li>
				<li>HTML+CSS+SASS</li>
			</ul>
			<h2>Technologies</h2>
			<ul class="tags content">
				<li>Angular</li>
				<li>Qt</li>
				<li>Poco</li>
				<li>VP8, VP9 (Video Encoding)</li>
				<li>Google Protocol Buffer</li>
				<li>Apache Lucene</li>
				<li>Boost</li>
				<li>OpenCV</li>
				<li>Opus (Audio Encoding)</li>
				<li>SQLite</li>
				<li>MySQL, MariaDB</li>
				<li>Postgres + Geospatial</li>
			</ul>
		</section>

<!--
		<section class="contact" id="contact-form-section">
			<h1>Contact</h1>
			<form id="contact-form" method="post" action="http://localhost:3000/submit">
				<input type="text" name="name" placeholder="Your Name *" />
				<input type="text" name="email" placeholder="Your E-Mail *" />
				<input type="text" name="phone" placeholder="Your Phone" />
				<textarea name="message" placeholder="Your Message... *"></textarea>
				<input type="hidden" name="humancheck" value="0" id="human-verification-code-input" />
				<div class="actions">
					<button type="button" class="human" id="human-verification-button">I'm a human!</button>
					<button type="submit" class="color-2">Send</button>
				</div>
			</form>
		</section>
-->

	</div>

</div>

{{ end }}