</div>
<!--/#site-content-->

<div class="container">
	<div id="site-footer">

		<div class="row">
			<div class="col-md-6">
				<ul class="links">
					<li><a href="/impressum/">Disclaimer</a></li>
					<li>info (at) mfreiholz (dot) de</li>
				</ul>
			</div>
			<div class="col-md-6">
				Made with &#9825; mfreiholz.de
			</div>
		</div>

	</div>
</div>

<link rel="stylesheet" type="text/css" href="/thirdparty/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Julius+Sans+One|Lora">
<link rel="stylesheet" type="text/css" href="/css/style.css">

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/styles/default.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

<!-- Analytics -->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-67699481-1', 'auto');
ga('send', 'pageview');
</script>

</body>

</html>