<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="autor" content="Manuel Freiholz">
	<meta name="keywords" content="programming c++ go golang php projects books">
	<title></title>

	<link rel="stylesheet" type="text/css" href="/thirdparty/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Julius+Sans+One|Lora">
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>

	<div id="site-header" class="container">
		<div class="title">
			<div class="name">Manuel Freiholz</div>
			<div class="slogan">Software Development &amp; More</div>
		</div>
	</div>

	<div id="site-navigation" class="container">
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/work/">Work</a></li>
		</ul>
		<div class="right">
			<div class="social">
				<a href="#" alt="Instagram" title="Me on Instagram"><img src="/instagram.png" height="32"></a>
			</div>
		</div>
		<div style="clear: both; float: none;"></div>
	</div>

	<!--<div class="site-separator"></div>-->

	<div id="site-content" class="container">