<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="Manuel Freiholz">
	<meta name="keywords" content="programming c++ go golang php projects books">

	<title>{{ .Title }} | M. Freiholz Software Development</title>

	<link href="/posts/index.xml" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
	<link href="/posts/index.xml" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}" />
</head>

<body>

	<div id="site-header" class="container">
		<div class="title">M. Freiholz</div>
		<div class="subtitle">Software Development</div>
	</div>

	<div id="site-navigation" class="container">
		<div class="row">
			<div class="col-md-8">
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/work/">Products</a></li>
					<li><a href="/donate/">Support Me</a></li>
				</ul>
			</div>
			<div class="col-md-4">
				<div class="right">
					<div class="social">
						<a href="https://www.instagram.com/mfreiholz/" alt="Instagram" title="Me on Instagram"><img src="/images/instagram.png" height="32"></a>
						<a href="https://twitter.com/mfreiholz/" alt="Twitter" title="Me on Twitter"><img src="/images/twitter-48-black.png" height="38"></a>
					</div>
				</div>
			</div>

		</div>
		<!--./row-->

	</div>
	<!--./site-navigation-->
