<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="autor" content="Manuel Freiholz">
	<meta name="keywords" content="programming c++ go golang php projects books">
	<title></title>

	<link rel="stylesheet" type="text/css"
		href="https://fonts.googleapis.com/css?family=Julius+Sans+One">
	<link rel="stylesheet" type="text/css"
		href="style.css">
</head>

<body>

	<div id="site-header">
			<div class="title">
				<div class="name">Manuel Freiholz</div>
				<div class="slogan">Software Development &amp; More</div>
			</div>
	</div>

	<!--<div class="site-separator"></div>-->

	<div id="site-content">