{{ partial "header.html" . }}
{{ partial "ts3video-nav.html" . }}

<div id="site-content" class="container md">

    <div class="welcome">
        <div class="slogan">A free and easy to use video conferencing plugin for Teamspeak 3.</div>
        <div class="preview"></div>
    </div>

    <div class="welcome-content">
        <div class="row">
            <div class="col-sm-6">
                {{ range .Data.Pages }} {{ if eq .Title "Home-News" }} {{ .Content }} {{ end }} {{ end }}
            </div>
            <div class="col-sm-6">
                {{ range .Data.Pages }} {{ if eq .Title "Home-Features" }} {{ .Content }} {{ end }} {{ end }}
                {{ range .Data.Pages }} {{ if eq .Title "Home-Feedback" }} {{ .Content }} {{ end }} {{ end }}
            </div>
        </div>
    </div>

</div>
<!--./site-content-->

{{ partial "footer.html" . }}