<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="Manuel Freiholz">
	<meta name="keywords" content="programming c++ go golang php projects books">

	<title>{{ .Title }} | M. Freiholz Software Development</title>

	<link href="/posts/index.xml" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
	<link href="/posts/index.xml" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}" />
</head>

<body>

	<div class="site-navigation">
		<a href="/">Home</a>
		<a href="/posts">Blog</a>
		<a href="/work">Projects</a>
		<a href="/donate">Support Me</a>
	</div>

	<div class="site-header">
		<div class="title">mfreiholz.de</div>
		<div class="sub-title">blogging, development, support</div>
	</div>