<div class="post">
        <div class="post-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></div>
        <div class="post-content md">{{ .Summary }}</div>
        
        {{ if .Truncated }}
        <div class="post-read-more">
            <a href="{{ .RelPermalink }}">Read More</a>
        </div>
        {{ end }}
        
        <div class="post-tags">
            {{ range .Params.tags }}
            <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> /
            {{ end }}
            {{ .Date.Format "Jan 2 2006" }}
        </div>
    </div>