{{ partial "header.html" . }}

<div class="container">

	<div class="goto-nav">
		<a href="/">Home</a>
		&middot;
		<a href="/posts">Posts</a>
	</div>

	<div class="post">
		<div class="post-title"><a href="{{ .Permalink }}">{{ .Title }}</a></div>
		<div class="post-date">{{ .Date.Format "Mon, Jan 2, 2006" }} &middot; {{ .Params.author }}</div>
		<div class="post-content">{{ .Content }}</div>
	</div>

	<div class="post-comments"> 
	{{ partial "disqus.html" . }}
	</div>

</div>

{{ partial "footer.html" . }}