<div class="sidebar">
	{{ partial "sidebar/aboutme.html" . }}
	{{ partial "sidebar/followme.html" . }}

	<div class="sidebar-section">
		<header>
			<div>Featured Articles</div>
		</header>
		<section>
			<p>Article 1</p>
			<p>Article 2</p>
			<p>Arcitcle blah 3</p>
		</section>
	</div>

	<div class="sidebar-section">
		<header>
			<div>Tags</div>
		</header>
		<section>
			<span>TAG1</span>
			<span>TAG1</span>
			<span>TAG1</span>
			<span>TAG1</span>
			<span>TAG1</span>
		</section>
	</div>
</div>