<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://fonts.googleapis.com/css?family=Roboto:300,300italic" rel="stylesheet" type="text/css">
		<link href="/style.css" rel="stylesheet" type="text/css">
		<title>mfreiholz.de | Software Development</title>
	</head>
	<body>
		
		<div class="sidebar">
			<div class="sidebar-logo">mf</div>
			<div class="sidebar-slogan">mfreiholz.de | Software Development</div>
			<nav class="sidebar-nav">
				{{ $currentNode := . }}
				{{ range .Site.Menus.main }}
					{{ if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .) }}
						<a href="{{ .URL }}" class="active">{{ .Name }}</a>
					{{ else }}
						<a href="{{ .URL }}">{{ .Name }}</a>
					{{ end }}
				{{ end }}
			</nav>
			<div class="sidebar-copyright">&copy; 2016 Manuel Freiholz</div>
		</div>
