{{ partial "header.html" . }}

<div class="content">

	<h2>Latest Posts</h2>
	{{ range first 3 (where .Data.Pages "Section" "posts") }}
		{{ .Render "li" }}
	{{ end }}
	
	<h2>Social media and contact</h2>
	<p>
		You may contact me on one of my social media accounts:
		<a href="https://www.facebook.com/manuel.freiholz">Facebook</a>,
		<a href="https://twitter.com/mfreiholz">Twitter</a>,
		<a href="https://github.com/mfreiholz">Github</a>
		or just write me an e-mail to <code>info (at) mfreiholz (dot) de</code>
	</p>

	<h2>Top Readings</h2>
	<ul>
		<li><a href="http://en.cppreference.com/">C++ Reference</a> Good lookup resource for all standard C++ types and functions.</li>
		<li><a href="https://isocpp.org/wiki/faq">C++ Super-FAQ</a> Some best practice advices, dos and don'ts. Read it from time to time to remember important pratices.</li>
		<li><a href="http://hiltmon.com/blog/2016/03/25/dependency-limited-and-conflict-free-c-plus-plus/">C++ conflict free dependencies</a> My favorite way to manage dependencies in C++ environments.</li>
		<li><a href="https://woboq.com/blog/">Qt Woboq Blog</a> Those guys do know a lot about Qt and write some very good articles about it.</li>
	</ul>

	<h2>Top Books</h2>
	<ul>
		<li><a href="http://www.amazon.com/Pragmatic-Programmer-Journeyman-Master/dp/020161622X">The Pragmatic Programmer</a> written by Andrew Hunt and David Thomas</li>
	</ul>
	
</div>

{{ partial "footer.html" . }}