html {
	background: #ffffff;
}
body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
	font-size: 16px;
	background: transparent;
}
.page-header h1 {
	color: #000;
	font-size: 3em;
	/*text-shadow: 3px 3px #fff;*/
}
.page-header h1 a, .page-header h1 a:hover {
	color: #000;
	text-decoration: none;
}
.goto-nav {
	margin-bottom: 2rem;
	text-align: center;
}
.contact-container p {
	font-family: monospace;
}
/* Sitemap */
.media {
	padding: 6px;
}
.media:hover {
	background: #eeeeee;
}
.media > a {
	color: inherit;
	text-decoration: none;
}
.media-heading {
	color: #21759b;
}
/* footer */
.footer-container {
	text-align: center;
}
/* posts */
.post {
	margin-bottom: 1.0rem;
}
.post-title {
	font-size: 3.0rem;
}
.post-date {
	color: #777;
}
.post-content {
	margin: 2rem 0;
	line-height: 3rem;
}
.post-content h1 {
	font-size: 3.0rem;
}
.post-content h2 {
	font-size: 2.8rem;
}
.post-content h3 {
	font-size: 2.6rem;
}
.post-content h4 {
	font-size: 2.4rem;
}