html, body {
	color: rgb(30, 30, 30);
	font-size: 20px;
	font-family: 'Roboto';
}
a {
	color: rgb(61, 132, 203);
	text-decoration: none;
}
h1, h2, h3, h4 {
	display: block;
	font-weight: bold;
}
h1 {
	font-size: 2.0rem;
}
h2 {
	font-size: 1.9rem;
}
h3 {
	font-size: 1.8rem;
}
h4 {
	font-size: 1.7rem;
}

/* sidebar */
.sidebar {
	background: rgb(42, 94, 145);
	color: rgb(255, 255, 255);
	text-align: center;
}
@media (min-width: 48em) {
	.sidebar {
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		width: 18rem;
		text-align: left;
	}
}
.sidebar-logo {
	font-size: 8rem;
	font-weight: bold;
}
.sidebar-slogan {
	padding: 0.4rem;
}
.sidebar nav {
	/*background: rgb(33, 84, 135);*/
	padding: 1em 0;
}
.sidebar nav a {
	color: rgb(255, 255, 255);
	display: block;
	padding: 0.4rem;
	text-decoration: none;
}
.sidebar nav a.active {
	color: rgb(200, 200, 200);
}
.sidebar nav a:hover,
.sidebar nav a:focus {
	background: rgb(33, 84, 135);
}
.sidebar-copyright {
	padding: 0.4rem;
}

/* content */
.content {
	line-height: 2.0rem;
}
@media (min-width: 48em) {
	.content {
		max-width: 38rem;
		margin-left: 20rem;
		margin-right: 2rem;
		padding-top: 3rem;
		padding-bottom: 3rem;
	}
}

/* index */
.mail {
	font-family: monospace;
}

/* posts */
.post {
	margin-bottom: 1.0rem;
}
.post-title {
	color: rgb(42, 94, 145);
	font-size: 2.0rem;
	margin: 0;
	padding: 0;
}
.post-title a {
	color: rgb(42, 94, 145);
	text-decoration: none;
}
.post-title a:hover {
	text-decoration: underline;
}
.post-date {
	color: rgb(160, 160, 160);
}
.post-back-link {
	margin-bottom: 1rem;
}

/* projects */
.project {
	margin-bottom: 1.0rem;
}
.project-logo {
	float: left;
}
.project-logo img {
	max-width: 48px;
	max-height: 48px;
}
.project-body {
	margin: 0 0 0 60px;
}
.project-title {
	color: rgb(42, 94, 145);
	font-size: 2.0rem;
	margin: 0;
	padding: 0;
}
.project-title a {
	color: rgb(42, 94, 145);
	text-decoration: none;
}
.project-title a:hover {
	text-decoration: underline;
}
.project-tag {
	background: rgb(160, 160, 160);
	border-radius: 3px;
	color: rgb(255, 255, 255);
	font-size: 0.6rem;
	font-weight: bold;
	padding: 0.3rem;
}